<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页 - 在线学习论坛后台管理系统</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/fontawesome/css/fontawesome.min.css}" media="all"/>
    <script th:src="@{/static/common/jquery.min.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script th:src="@{/static/js/echarts.min.js}"></script>
    <style type="text/css">
        .highcharts-credits {
            display: none;
        }
        .layui-layout-admin .layui-body{
            top: 50px;
        }
        .layui-tab-card{
            border-bottom: 1px solid #fff;
            box-shadow: none;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        <div class="layui-logo">
            <div class="layui-logo">
<!--                <a href="/admin"><img src="/static/images/headimg.jpg"-->
<!--                                      style="width: 50px;height: auto;"></a>-->
                论坛后台管理
            </div>
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
<!--        <ul class="layui-nav layui-layout-left">-->
<!--            <li class="layui-nav-item"><a href="">控制台</a></li>-->
<!--            <li class="layui-nav-item"><a href="">内容管理</a></li>-->
<!--            <li class="layui-nav-item"><a href="">用户</a></li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">其它系统</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="javascript:;" data-url="/rough" data-id="rough" data-title="总体概览"-->
<!--                           class="site-demo-active" data-type="tabAdd">总体概览</a></dd>-->
<!--                    <dd><a href="/systemUsersManage">消息管理</a></dd>-->
<!--                    <dd><a href="">授权管理</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--        </ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
<!--                    <img src="/static/images/headimg.jpg" class="layui-nav-img">-->
                    <span id="username">管理员</span>

                </a>
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="javascript:;" data-url="/userInfoManage" data-id="userInfo" data-title="个人信息"-->
<!--                           class="site-demo-active" data-type="tabAdd">个人信息</a></dd>-->
<!--                    <dd><a href="javascript:;" data-url="/securitySetting" data-id="securitySetting" data-title="安全设置"-->
<!--                           class="site-demo-active" data-type="tabAdd">安全设置</a></dd>-->
<!--                </dl>-->
            </li>
            <li class="layui-nav-item"><a href="/admin/logout">退出</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="">
            <!--layui-side-scroll-->
            <ul class="layui-nav layui-nav-tree ">
                <li class="layui-nav-item">
                    <a href="javascript:" data-url="/summary" data-id="summary" data-title="首页" class="site-demo-active"
                       data-type="tabAdd">首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:" data-url="/adminUser" data-id="adminUser" data-title="用户管理" class="site-demo-active">用户管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:" data-url="/adminUserEmail" data-id="adminUserEmail" data-title="邮箱管理" class="site-demo-active">邮箱管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:" data-url="/report" data-id="report" data-title="举报管理" class="site-demo-active">举报管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:" data-url="/admin/img/page" data-id="imagePage" data-title="轮播图管理" class="site-demo-active">轮播图管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:" data-url="/adminQuestion" data-id="adminQuestion" data-title="文章管理" class="site-demo-active">文章管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:" data-url="/adminTag" data-id="adminTag" data-title="分类和标签管理" class="site-demo-active">分类和标签管理</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体-->
        <div class="layui-tab layui-tab-card" lay-filter="demo" lay-allowclose="true" style="height: 100%">
            <ul class="layui-tab-title" >
                <li class="layui-this" lay-id="summary">首页</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show" >
                    <iframe src="/summary"  frameborder="0" style="position:absolute;width: 100%;height: 100%"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    let onlineUser = 0;
    layui.use(['element', 'table'], function () {
        let element = layui.element;
        let table = layui.table;

        //触发事件
        let active = {
            //在这里给active绑定几项事件，后面可通过active调用这些事件
            tabAdd: function (url, id, name) {
                //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                element.tabAdd('demo', {
                    title: name,
                    content: '<iframe data-frameid="' + id + '" frameborder="0" src="' + url + '" style="position:absolute;width: 100%;height: 100%"></iframe>',
                    id: id
                });
                element.render('tab');
            },
            tabChange: function (id) {
                //切换到指定Tab项
                element.tabChange('demo', id);  //根据传入的id传入到指定的tab项
            },
            tabDelete: function (id) {
                element.tabDelete("demo", id); //删除
            },
            tabDeleteAll: function (ids) { //删除所有
                $.each(ids, function (i, item) {
                    element.tabDelete("demo", item); //ids是一个数组，里面存放了多个id，调用tabDelete方法分别删除
                })
            }
        };
        //当点击有site-demo-active属性的标签时，即左侧菜单栏中内容 ，触发点击事件
        $('.site-demo-active').on('click', function () {
            let dataid = $(this);

            //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
            if ($(".layui-tab-title li[lay-id]").length <= 0) {
                //如果比零小，则直接打开新的tab项
                active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
            } else {
                //否则判断该tab项是否以及存在
                let isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                $.each($(".layui-tab-title li[lay-id]"), function () {
                    //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                    if ($(this).attr("lay-id") === dataid.attr("data-id")) {
                        isData = true;
                    }
                });
                if (isData === false) {
                    //标志为false 新增一个tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"), dataid.attr("data-title"));
                }
            }
            //最后不管是否新增tab，最后都转到要打开的选项页面上
            active.tabChange(dataid.attr("data-id"));
        });


    });



</script>
</body>
</html>