<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>在线学习论坛后台管理系统</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/static/fontawesome/css/fontawesome.min.css}" media="all"/>
    <script th:src="@{/static/common/jquery.min.js}"></script>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script th:src="@{/static/js/echarts.min.js}"></script>
    <script src="https://code.highcharts.com.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://code.highcharts.com.cn/highstock/highstock.js"></script>
<!--    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>-->
<!--    <script src="https://code.highcharts.com.cn/highcharts-plugins/highcharts-zh_CN.js"></script>-->
    <style type="text/css">
        .highcharts-credits {
            display: none;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 登录历史记录 -->
    <div>
        <div style="margin: 10px 0 10px 20px;font-size: 20px;font-weight: 600">登入历史记录</div>
        <div style="margin-left: 10px;border-right: 1px solid #fff;">
            <table class="layui-hide" id="ip-info"></table>
        </div>
    </div>
    <!-- 在线人数 -->
    <div>
        <div style="margin: 30px 0 10px 20px;font-size: 20px;font-weight: 600">论坛实时在线人数</div>
<!--        <div id="container" style="min-width:200px;height:100%"></div>-->
        <div id="container" style="width:50%;height:100%"></div>
    </div>

</div>
<script th:inline="javascript">
    let onlineUser = 0;
    layui.use(['element', 'table'], function () {
        let element = layui.element;
        let table = layui.table;

        table.render({
            elem: '#ip-info'
            , url: '/getAdminLoginInfo'
            , cellMinWidth: 80
            , cols: [
                [
                    {field: 'ip', width: 200, align: 'center', title: '登入 IP 地址'}
                    // , {field: 'info', width: 210, align: 'center', title: 'IP 详细信息'}
                    , {field: 'time', width: 200, align: 'center', title: '登入时间'}
                ]
            ]
            ,page: true
        });


    });



    //全局变量
    let chart = null;
    $(document).ready(function () {
        //获取管理员登录信息token
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
        chart = Highcharts.chart('container', {
            chart: {
                type: 'spline',
                marginRight: 100,
                marginLeft: 100,
                events: {
                    load: requestData // 图表加载完毕后执行的回调函数
                }
            },
            title: {
                text: ' '
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150,
            },
            yAxis: {
                title: {
                    text: '在线人数',
                    // margin: 80
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 0);
                }
            },
            series: [{
                name: '在线人数',
                data: []
            }]
        });
    });

    function requestData() {
        $.ajax({
            url: '/online',
            success: function (point) {
                let series = chart.series[0],
                    shift = series.data.length > 10; // 当数据点数量超过 20 个，则指定删除第一个点
                // 新增点操作
                //具体的参数详见：https://api.hcharts.cn/highcharts#Series.addPoint
                let x = (new Date()).getTime();
                y = point.data;
                chart.series[0].addPoint([x, y], true, shift);

                // 2秒后继续调用本函数
                setTimeout(requestData, 2000);
            },
            cache: false
        });
    }

</script>
</body>
</html>